.container {
    width: 100%;
    box-sizing: border-box;
}

.revolutionary {
    max-width: 83%;
    /* 100% - (7.5% + 7.5%) = 85% */
    margin-left: 6.5%;
    margin-right: 6.5%;
    margin-top: 80px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
        margin-top: 93.5px;
    }

    @media (min-width: 1200px) {
        margin-top: 66px;
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 28px;
        text-transform: uppercase;
        text-align: center;
        color: #635C73;

        @media (min-width:768px) {
            font-style: normal;
            font-weight: 700;
            font-size: 42px;
            line-height: 42px;
        }

        @media (min-width:1200px) {
            font-style: normal;
            font-weight: 700;
            font-size: 54px;
            line-height: 54px;
        }
    }

    &__subtitle {
        display: flex;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #323232;
        margin: auto;
        margin-top: 33px;

        @media (min-width: 768px) {
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            line-height: 32px;
        }

        @media (min-width: 1200px) {
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            line-height: 32px;
        }
    }





    .buttons {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
        .watch {
            display: block;
            width: 118px;
            height: 26px;
            margin-right: 10px;

            img {
                width: 118px;
                height: 26px;
            }
        }

        .star {
            display: block;
            width: 118px;
            height: 26px;
            margin-right: 10px;

            img {
                width: 118px;
                height: 26px;
            }
        }

        .fork {
            display: block;
            width: 118px;
            height: 26px;


            img {
                width: 118px;
                height: 26px;
            }
        }
    }
}

.what-you-get {
    
    max-width: 83%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    margin-top: 80px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    @media (min-width:1200px) {
        background: #F4F4F4;
        max-width: 100%;
    }
}

.what-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #8D81AC;
    margin-bottom: 36px;

    @media (min-width:768px) {
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 44px;
    }

    @media (min-width:1200px) {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        padding-top: 94.11px;
        display: flex;
        justify-content: right;
        position: absolute;
        right: 63.55px;
        
        
    }
}

.first-wrapper {
    @media (min-width: 768px) {
        display: flex;
        &__margin{
            margin-left:23px ;
        }
    }
    @media (min-width:1200px) {
        display: flex;
        position: relative;
        &__margin{
            width: 400.89px;
        }
    }
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #323232;
        margin-top: 27px;
        margin-bottom: 14px;
        @media (max-width: 768px) {
            text-align: center; 
            line-height: 21px;
        }
        @media (min-width:1200px) {
         margin-top: 0;
         padding-top: 98.17px;
            
        }
    }

    &__discription {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #848E97;
        margin-bottom: 38px;
        @media (max-width: 768px) {
            text-align: center; 
        }
        @media (min-width:1200px) {
        }
    }
}
.image {
    display: flex;
    justify-content: center;
    margin: auto;
    @media (min-width:768px) {
        display: block; 
    }
    @media (min-width:1200px) {
        display: block;
        margin-left: 90px;
        margin-right: 44px;
    }
}
.second-wrapper{
    @media (min-width: 768px) {
        display: flex;
        &__margin{
            margin-left:43px ;
        }
    }
    @media (min-width:1200px) {
        display: flex;
        &__margin{
            width: 400.89px;
        }
        
    }
    
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #323232;
        margin-top: 27px;
        margin-bottom: 14px;
        @media (max-width: 768px) {
            text-align: center;
            line-height: 21px;
        }
    }

    &__discription {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #848E97;
        margin-bottom: 38px;
        @media (max-width: 768px) {
            text-align: center; 
        }
    }
}
.third-wrapper{
    @media (min-width: 768px) {
        display: flex;
        &__margin{
            margin-left:72px ;
        }
    }
    @media (min-width:1200px) {
        display: flex;
        &__margin{
            width: 400.89px;
        }
    }
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #323232;
        margin-top: 27px;
        margin-bottom: 14px;
        @media (max-width: 768px) {
            text-align: center;
            line-height: 21px;
        }
    }

    &__discription {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #848E97;
        margin-bottom: 38px;
        @media (max-width: 768px) {
            text-align: center; 
        }
    }
}
.fourth-wrapper{
    @media (min-width: 768px) {
        display: flex;
        &__margin{
            margin-left:62px ;
        }
    }
    @media (min-width:1200px) {
        display: flex;
        &__margin{
            width: 400.89px;
        }
    }
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #323232;
        margin-top: 27px;
        margin-bottom: 14px;
        @media (max-width: 768px) {
            text-align: center;
            line-height: 21px;
        }
    }

    &__discription {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #848E97;
        margin-bottom: 38px;
        position: relative;
        @media (max-width: 768px) {
            text-align: center; 
        }
    }
}
.menu-image{
    display: flex;
    justify-content: right;
    @media (min-width:1200px) {
        position: absolute;
        right: 0;
        top: 610px;
    }
}
.extra {
    @media (min-width: 1200px) {
        padding-top: 92.17px;
    }
}
