@import "variables";

.navigation-list__link:hover {
    color: white;
}

.buy-button:hover {
    background-color: white;
}

.buy-button:hover .buy-button__link {
    color: $color-purple;
}

.logo:hover .logo__img {
    display:none;
}

.logo:hover .logo__img--hover {
    display:block;
}

.logo:hover .logo__title {
    color: white;
}

.free-download-button:hover{
    background-color: white;
    border: 1px solid $color-purple;
}

.free-download-button:hover .free-download-button__link {
    color: $color-purple;
}