$min-mobile-width: 320px;
$max-mobile-width: 480px;
$min-tablet-width: 481px;
$max-tablet-width: 992px;
$min-desktop-width: 993px;
$max-content-width: 1200px;
$color-purple: #8D81AC;
$color-light-purple: #A291A5;
$color-header-gray: #27262A;
$color-light-gray: #848E97;
$color-pseudoelem: #645766;
$color-gray-mobile-header: #27262A;
$color-gray-mobile-nav: #333333;
$color-nav-separator: #3B3B3B;
